<html>
	<head>
		<meta charset="utf-8">
		<title>Fake Search</title>
	</head>
	<body>
		<h1>Fake Search</h1>
		<form action="http://search.naver.com/search.naver">
		  네이버 검색: <input type="text" name="query"><br>
		  <input type="submit" value="검색하기">
		</form>
		<form action="https://search.daum.net/search">
		  다음 검색: <input type="text" name="q"><br>
		  <input type="submit" value="검색하기">
		</form>
		<form action="https://www.google.co.kr/search">
		  구글 검색: <input type="text" name="q"><br>
		  <input type="submit" value="검색하기">
		</form>
		<form action="http://www.op.gg/summoner/">
		  op.gg 검색: <input type="text" name="userName"><br>
		  <input type="submit" value="검색하기">
		</form>
	</body>
</html>